html, body {
    background-image: url(/Imagenes/Fondo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar-brand img {
    max-height: 2rem;
    max-width: 100%;
    height: auto;
}


main {
  text-align: center;
  padding: 40px 0;
}

.tarjeta-campeon {
  display: inline-block;
  width: 200px;
  margin: 15px;
  vertical-align: top;
}

.campeon {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tarjeta-campeon p {
  color: white;
  font-size: 13px;
}

.btn-conocer {
  color: #c8aa6e;
}

.logo {
    max-width: 100%;
    height: auto;
}

main{
    flex: 1;
}

footer {
    background-color: #0f1923;
    text-align: center;
    height: 80px;
    width: 100%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links a {
    color: #c8aa6e;
    text-decoration: none;
}